@font-face {
	font-family: 'Open Sans Condensed';
	src: url('OpenSansCondensed-Light.woff2') format('woff2'), url('OpenSansCondensed-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Condensed';
	src: url('OpenSansCondensed-Bold.woff2') format('woff2'), url('OpenSansCondensed-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}